extends layout

block hero-unit
  .jumbotron
    .container
      h1 Survey

block content
  .container
    .row
      .col-md-6
        h3 서비스 목적
        p 목표시장에 적합한 응답자를 만나보세요. 수백만 명의 글로벌 패널 중에서 여러분의 설문조사에 필요한 응답자를 찾을 수 있습니다.
      .col-md-6
        h3 주요 기능
        ul
          li 사용자 관리
          li 설문지 작성
          
  
