form#form-task.form-inline(class='quest')
  .form
    .main
      h3 객관식 문항
    .sub
      .form-group
        label Q:
        input.form-control(type='text', placeholder='Question')
        br
        label A:
        input(type='radio', id='question', name='question')
