form#form-task.form-inline(class='quest')
  .form
    .main
      h3 의견
    .sub
      .form-group
        label Q:
        input.form-control(type='text', placeholder='Question')
        br  
        label A:
        textarea.form-control(id='content', rows='4', name='content', placeholder='Long Answer')
