form#form-task.form-inline(class='quest')
  .form
    .main
      h3 단일 문항
    .sub
      .form-group
        label Q:
        input.form-control(type='text', placeholder='Question')
        br
        label A:
        input.form-control(type='text', id='question', name='question', placeholder='Answer')  
