extends ../layout

block content
  h1= title
  p Welcome to #{title}  
  
  button.btn.btn-lg.btn-primary.btn-block(type='submit') 로그인
  hr
  a.btn.btn-default.btn-mini(href='/users/regist') 회원가입
  br
  
  a(href='/forms') 설문지로 이동

  
            
