extends ../layout

block content
  .container
    h1.page-header 설문조사 참여
    h3 간단한 세 단계로 나만의 설문조사 만들기
    ol
      li 설문조사 디자인 결정하기
      li 질문추가하기
      li 설문조사 보내기
    div.form-actions
      a.btn.btn-default(href='/surveys/new') New Survey
      a.btn.btn-default(href='/surveys/list') Survey List


  
            
