extends ../layout

block content
  .container
    h1.page-header= survey.title
    p
      span at #{moment(survey.createdAt).format('YYYY-MM-DD HH:mm:ss')} 
    p.well(style='white-space:pre;')= survey.content

    form.content(action='/surveys/' + survey._id + '/quests', method='POST')
      p.QuestPart
      button#addQuestion.btn.btn-default(type='button') 문항추가 
      button#removeQuestion.btn.btn-default(type='button') 문항제거
      button.btn.btn-default(type='submit') 완료      
    
    script#ChoiceQuestTemplate(type='text/javascript')
      .form-header
        .form-group
          label(for='category') Category
          select.form-control(id='category', name='category')
            option(id='choice' value='객관식', selected) 객관식
            option(id='short' value='단일문항') 단일문항
            option(id='long' value='의견') 의견
        .form-group      
          label(for='title') Q:
          input.form-control(type='text', name='question', placeholder='Question')
        .form-group
          input(type='radio', name='answer')
          input.form-control(type='text', name='answer', placeholder='Answer', disabled)
        .form-group
          p.AnswerPart
        button#addAnswer.btn.btn-default(type='button') 답안추가 
          
    script#ChoiceAnswerTemplate(type='text/javascript')
      .form-header
        .form-group
          input(type='radio', name='answer')
          input.form-control(type='text', name='answer', placeholder='Answer', disabled)
    
          
    script(type='text/javascript', src='/javascripts/question.js')         
